body {
    @include rr;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: $color1;
}

.tooltip-inner {
    background-color: $color1;
    text-transform: capitalize;
}

//#####################################  container-fluid #####################################
.container-fluid {
    padding: 0px 7%;
    @media (max-width: 1599px) {
        padding: 0px 5%;
    }
    @media (max-width:1439px) {
        padding: 0px 3%;
    }
    @media (max-width: 1023px) {
        padding: 0px 15px;
    }
}

// .container-fluid{ padding: 0px 50px;
// @media (max-width:1365px){
//         padding: 0px 20px;
//     }
// @media (max-width: 1023px){
//     padding: 0px 15px;
// }
// }
a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

a:hover {
    color: $black;
}

//#####################################  checkbox ##################################### 
.custom_chekbox {
    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:checked+label,
    [type="checkbox"]:not(:checked)+label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: normal;
        display: inline-block;
        color: #666;
    }
    [type="checkbox"]:checked+label:before,
    [type="checkbox"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 2px solid #dddddd;
        background: #fff;
    }
    [type="checkbox"]:checked+label:after,
    [type="checkbox"]:not(:checked)+label:after {
        content: '';
        width: 18px;
        height: 18px;
        background-color: #6a361d;
        position: absolute;
        top: 0px;
        left: 0px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="checkbox"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="checkbox"]:checked+label:after {
        opacity: 1;
        content: "";
        background-image: url(../images/checked.svg);
        background-repeat: no-repeat;
        background-size: 10px;
        text-align: center;
        background-position: center;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    [type="checkbox"]:checked+label {
        color: $color2!important;
    }
}

//#####################################  radio ##################################### 
.custom_radio {
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 28px;
        text-transform: capitalize;
        cursor: pointer;
        line-height: normal;
        display: inline-block;
        color: #666;
    }
    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 26px;
        height: 26px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #f4f3f2;
        border: 5px solid transparent;
    }
    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        content: '';
        width: 26px;
        height: 26px;
        background: #f4f3f2;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        border: 5px solid #69301d;
    }
    [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

// #####################################   selected_btn ##################################### 
.selected_btn i.fa.fa-angle-down {
    transform: rotate(180deg);
}

img.hidden_img {
    display: none;
}

button.selected_btn {
    color: $color2;
    img.visible_img {
        display: none;
    }
    img.hidden_img {
        display: inline-block;
    }
}

//  #####################################  pagination ##################################### 
.paginations {
    margin-top: 36px;
    .previous,
    .next {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: inline-block;
        background-color: transparent;
        text-align: center;
        line-height: 40px;
        color: $color2;
        border: 1px solid $color2;
        font-size: 22px;
    }
    li {
        display: inline-block;
        margin-right: 9px;
        cursor: pointer;
        vertical-align: top;
        &:first-child {
            a {
                background-color: transparent;
            }
        }
        &:last-child {
            a {
                background-color: transparent;
            }
        }
        @media (max-width: 1365px) {
            margin-right: 4px;
        }
        a {
            width: 40px;
            height: 40px;
            display: inline-block;
            text-align: center;
            font-size: 18px;
            padding: 0px;
            line-height: 40px;
            color: $black;
            background-color: #dedede;
            border: none;
            border-radius: 100%;
            margin-top: 0px;
        }
    }
    li.active {
        a {
            background-color: $color2;
            color: $white;
        }
    }
}

li.next {
    border: none!important;
}

//  #####################################  product-list filter secton scss after 768 ##################################### 
button.close_btn {
    display: none;
    border: none;
    background-color: transparent;
}

.mobile_filter_btn {
    display: none;
    @media (max-width: 767px) {
        display: block;
        button {
            @include btn1;
            text-transform: capitalize;
            font-size: 18px;
            height: 49px;
            min-width: 140px;
            cursor: pointer;
            i {
                margin-right: 5px;
            }
        }
    }
}

@media (max-width: 767px) {
    button.close_btn {
        display: block;
        i.fa.fa-times {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            background-color: #252424;
            color: #fff;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 100%;
        }
    }
    .filter-section {
        display: none;
    }
    .product_list {
        .filter-section.openit {
            display: block;
            position: fixed;
            top: 0px;
            z-index: 9999;
            background-color: #fff;
            left: 0px;
            width: 100%;
            height: 100%;
            padding: 20px;
            margin-top: 0px;
            padding-top: 50px;
            .col5 {
                padding-left: 21px!important;
                select {
                    width: calc( 100% - 26px);
                    font-size: 16px;
                    padding-left: 5px;
                }
            }
            .top_filters {
                border: none;
                box-shadow: none;
                .box {
                    display: block !important;
                    width: 100% !important;
                    border: 1px dashed #ccc;
                    margin-bottom: 10px;
                    padding: 0px 13px;
                    >button {
                        border: none;
                        font-size: 16px;
                        display: block;
                        width: 100%;
                        text-align: left;
                        i {
                            float: right;
                        }
                    }
                }
            }
            .hidendiv {
                top: 0px;
                height: 100vh;
                overflow-x: auto;
                padding: 15px;
                .box {
                    width: 100%;
                    margin-right: 0px;
                }
            }
        }
        .filter-section .inner {
            height: auto!important;
        }
    }
    .btns_box>button {
        min-width: 47%!important;
        height: 52px!important;
    }
}

@media (max-width: 479px) {
    .btns_box>button {
        min-width: 46%!important;
    }
}

@media (max-width: 359px) {
    .btns_box>button {
        min-width: 45% !important;
        height: 43px !important;
        font-size: 14px!important;
    }
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f4f3f2;
}


/*  scroll bar */

.inner::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.inner::-webkit-scrollbar {
    width: 4px;
    background-color: #c88c4f;
}

.inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c88c4f;
}

.comman_design .left_part .outer:last-child .heading {
    border: none;
}

ul.navbar-nav li.activeit .submenu {
    display: block!important;
    position: relative!important;
    top: 0px!important;
}

span.mobile_collapse_btn {
    transition: 0.3s;
}

ul.navbar-nav li.activeit span.mobile_collapse_btn {
    transform: rotate(180deg);
    transition: 0.3s;
}

@media (max-width: 767px) {
    .flagstrap span {
        font-size: 14px;
    }
}

@media (max-width: 479px) {
    .flagstrap span {
        font-size: 12px;
    }
}

//  filter section scss is here
.top_filters {
    .box {
        transition: 0.3s;
        &:hover {
            button {
                color: $color2;
                transition: 0.3s;
                img.visible_img {
                    display: none;
                }
                img.hidden_img {
                    display: inline-block;
                }
                i.fa.fa-angle-down {
                    transition: 0.3s;
                    transform: rotate(180deg);
                    color: $color2;
                }
            }
            .hidendiv {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
            }
        }
    }
}

.box .box {
    border: none!important;
}

.bookinfo {
    .table thead th,
    td {
        white-space: nowrap;
    }
}