// Fonts
@mixin rb {
    font-family: 'robotobold';
    font-weight: 100;
    font-style: normal;
}

@mixin rm {
    font-family: 'robotomedium';
    font-weight: normal;
    font-style: normal;
}

@mixin rr {
    font-family: 'robotoregular';
    font-weight: 400;
    font-style: normal;
}

@mixin rt {
    font-family: 'robotothin';
    font-weight: 600;
    font-style: normal;
}

@mixin fb {
    font-family: "Proxima Nova Alt Rg";
    font-weight: bold;
    font-style: normal;
}

@mixin plant {
    font-family: "Plantagenet Cherokee";
    font-weight: normal;
    font-style: normal;
}

// Other
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($radius) {
    -webkit-box-shadow: $radius;
    -moz-box-shadow: $radius;
    box-shadow: $radius;
}

@mixin scrollbar($color) {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        background-color: $white;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: $white;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
        background-color: $color;
    }
}

@mixin btn1 {
    min-width: 184px;
    border: none;
    height: 60px;
    text-align: center;
    background-color: $color2;
    border: 2px solid transparent;
    color: $white;
    transition: 0.3s;
    &:hover {
        background-color: transparent;
        border: 2px solid $color2;
        color: $color2;
        transition: 0.3s;
        box-shadow: 0px 10px 23px #ccc;
    }
}

@mixin btn2 {
    min-width: 184px;
    border: none;
    height: 60px;
    text-align: center;
    transition: 0.3s;
    background-color: transparent;
    border: 2px solid $color2;
    color: $color2;
    &:hover {
        background-color: $color2;
        border: 2px solid transparent;
        color: $white;
        transition: 0.3s;
        box-shadow: 0px 10px 23px #ccc;
    }
}

@mixin gd {
    background: rgb(255, 255, 255);
    background: -moz-radial-gradient(circle, rgba(255, 255, 255, 1) 12%, rgba(232, 222, 210, 1) 70%);
    background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 12%, rgba(232, 222, 210, 1) 70%);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 12%, rgba(232, 222, 210, 1) 70%);
    // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e8ded2", GradientType=1);
}

@mixin input {
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    min-height: 60px;
    font-size: 18px;
    color: $black;
}

@mixin select {
    background: url("../images/arrow-down.png") no-repeat;
    background-position: 100%;
    -webkit-appearance: none;
    background-size: 12px;
    -moz-appearance: none;
    -ms-appearance: none;
    padding-right: 27px;
    appearance: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}