ul {
  margin: 0px;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
figure {
  margin: 0px;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: none;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
.white {
  color: $white;
}
input[type="button"],
input[type="submit"],
button {
  width: auto;
  outline: none;
  cursor: pointer;
  &:hover,
  &:focus {
    outline: none;
  }
}

img {
  max-width: auto !important;
}
