.skin-blue .main-header .navbar {
    background-color: #2c7595 !important;
}
.skin-blue .main-header .logo {
    background-color: #2c7595 !important;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #242424 !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #2c7595 !important;
    border-color: #2c7595 !important;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #2c7595 !important;
}
.content-wrapper {
    background-color: #e8f0f3 !important;
}
.skin-blue .main-header li.user-header {
    background-color: #2c7595 !important;
}
.login-page, .register-page {
    background: #66b9db;
}
.login-logo a, .register-logo a {
    color: #fff;
}
.login-box-body, .register-box-body {
    background: #fff;
    padding: 40px;
    border-top: 0;
    color: #666;
    border-radius: 10px;
    box-shadow: 0 0 77px rgba(0, 0, 0, 0.33);
}

@media screen and (max-width: 575px) {
    .small-box h3 {
        font-size: 14px !important;
    }
}
