.box.image-box {
	width: 90px;
	height: 90px;
	position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
}

.imageall-box {
    display: flex;
    flex-wrap: wrap;
}

.image-box a {
	position: absolute;
	right: 4px;
	top: 5px;
	z-index: 9;
	background: #c99d51;
	color: #fff;
	font-size: 19px;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
}

.box.image-box img {
	height: 90px;
	width: 90px;
	object-fit: cover;
}

.error-field {
	color: red;
	font-size: 12px;
}
.site-loader {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 999999999;
    padding-top: 20%;
    background: rgba(0, 0, 0, 0.3);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4c000000', endColorstr='#4c000000');
  }
  
  .site-loader > div {
    background-color: #c88c4f;
    height: 50px;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .site-loader .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
    border-radius: 2px;
  }
  
  .site-loader .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    border-radius: 2px;
  }
  
  .site-loader .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
    border-radius: 2px;
  }
  
  .site-loader .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    border-radius: 2px;
  }


@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      -webkit-transform: scaleY(0.4);
    }
    20% {
      -webkit-transform: scaleY(1);
    }
  }
  
  @keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }

@media (max-width: 1200px) {
    .cocktail-img {
        min-height: 377px;
    }
}

@media (max-width: 992px) {
    nav.navbar form {
        padding-left: 15px;
    }
    .addmuenu-right form label {
        font-size: 9px;
    }
    .login-sec .copy-text {
        margin-top: 20px
    }
    .login-sec {
        padding: 20px 30px;
    }
    .login-container {
        max-width: 740px!important;
    }
    .banner-sec {
        min-height: auto;
    }
    .btn-login {
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    .mix-cocktail .pr0 {
        padding-right: 0px;
    }
    .mix-cocktail .pl0 {
        padding-left: 0px;
    }
    .banner .right .btns a {
        font-size: 9px;
    }
    .sub-btns a {
        padding: 12px 23px
    }
    .sub-menu-left li a {
        font-size: 10px;
    }
    .sub-menu-left {
        padding: 30px 0px 15px 7px;
    }
    .banner .right .username .acceptbtn {
        margin-right: 0;
    }
}

@media (max-width: 991.98px) {
    .section1 .top-galary .right {
        margin-top: -100px
    }
    .mix-cocktail .pr0 {
        padding-right: 15px !important;
    }
    .mix-cocktail .pl0 {
        padding-left: 15px!important;
    }
}

@media (max-width: 979px) {
    /* .banner .right .btns .col-lg-3 {
        padding-right: 15px;
    } */
}

@media (max-width: 767px) {
    .maginLR {
        margin-left: -15px;
        margin-right: -15px;
    }
    .mix-cocktail .pr0 {
        padding-right: 15px;
    }
    .section2 .top-galary .right {
        padding-right: 0px;
    }
    .pdr-0 {
        padding-right: 15px !important;
    }
    .pdL-l0 {
        padding-left: 15px !important;
    }
    .banner .right .btns .col-lg-3 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    nav.navbar {
        padding-left: 0;
        padding-right: 0;
    }
    nav.navbar button {
        padding-right: 0;
    }
    .profile-page .rating {
        margin-top: 10px;
    }
    .addmuenu-right form {
        margin-left: 0;
    }
    .pl0 {
        padding-left: 15px;
    }
    .banner .right {
        margin-top: 0;
    }
    .login-block .container {
        background: linear-gradient(to bottom, #fff 100%, transparent 10%);
    }
    .banner-sec {
        min-height: auto;
    }
    .login-block {
        position: static;
    }
    .login-block {
        height: 100%;
    }
    .banner .right .btns a {
        border: 1px solid #c0964d;
        color: #c0964d;
        margin-bottom: 10px;
    }
    .banner .right .btns a.active {
        color: #fff;
    }
    .banner-sec img {
        width: 100%;
    }
}

@media (max-width: 639px) {}

@media (max-width: 576px) {
    .pr0 {
        padding-right: 15px;
    }
    .banner-sec img {
        max-height: 170px;
    }
    .jstf-start {
        justify-content: start !important;
    }
    /* .sub-menu-left li a {
        writing-mode: vertical-rl;
        text-orientation: upright;
    } */
    .banner .right .username .txtr {
        margin-top: -10px!important;
    }
    .listingselect .bootstrap-select {
        margin-bottom: 15px;
    }
    .banner .right .username .txtr {
        text-align: left;
        padding-left: 30px;
        padding-left: 70px;
        padding-bottom: 10px;
        margin-top: -15px;
    }
    .banner .right .btns .col-lg-3 {
        padding-right: 15px;
    }
    .banner .right .orderid .txtr .deliverbtn {
        margin-left: 0;
    }
    .banner .right .orderid .myid {
        margin-top: 5px;
    }
}

@media (max-width: 569px) {
    .fixed-top a.btn {
        width: auto;
    }
    .carousel-inner {
        min-height: 270px;
    }
    .carousel-item img {
        min-height: 270px;
    }
    .btn-group {
        margin-top: 10px;
    }
    .containtstart-mob {
        justify-content: start!important;
    }
    .banner .right .btns .col-lg-3 {
        padding-right: 15px;
    }
    .banner .right .username .nowbtn {
        margin-bottom: 10px;
    }
    /* .banner .right .pag-head .flex button {
        width: 35%;
    } */
    .banner .right .username .txtr {
        text-align: left;
    }
    .banner .right .orderid .txtr .deliverbtn {
        margin: 10px 0 0 0;
    }
}

@media (max-width: 479px) {
    .carousel-inner {
        min-height: 230px;
    }
    .carousel-item img {
        min-height: 250px;
    }
}

@media (max-width: 411px) {
    .sub-btns a {
        background: rgba(244, 246, 248, 0.1);
        padding: 12px 14px;
        border-radius: 50px;
        display: flex;
        color: #424242;
        font-family: "robotobold";
        font-weight: 100;
        font-style: normal;
        font-size: 10px;
        justify-content: center;
        border: 1px solid #d6d6d6;
        margin-right: 5px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .sub-btns a {
        background: rgba(244, 246, 248, 0.1);
        padding: 12px 14px;
        border-radius: 50px;
        display: flex;
        color: #424242;
        font-family: "robotobold";
        font-weight: 100;
        font-style: normal;
        font-size: 10px;
        justify-content: center;
        border: 1px solid #d6d6d6;
        margin-right: 5px;
        text-transform: uppercase;
        margin-top: 20px;
    }
}

@media (max-width: 359px) {}