@media (max-width: 1024px) {
    .section1 .top-galary .left p.gold {
        padding-top: 25px;
    }
}

@media (max-width: 979px) {
    .section2 .top-galary .left .mangerbtn {
        padding: 0 17px;
    }
    .section3 .top-galary .left .mangerbtn {
        padding: 0 17px;
    }
    .section4 .top-galary .left .mangerbtn {
        padding: 0 15px;
    }
    .sldier h5 {
        font-size: 18px;
        color: #c99d51;
    }
    .sldier h2 {
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'robotobold';
    }
    .sldier p {
        font-size: 12px;
        color: #fff;
    }
}

@media (max-width: 767px) {
    footer {
        margin-top: 0;
    }
    .f-links,
    .social {
        text-align: center;
    }
    footer .copy {
        text-align: center;
        margin-top: 0px!important;
    }
    .section5 .top-galary .right {
        background: #fff;
        padding: 20px 30px 25px 60px;
        margin-bottom: 0;
    }
    .section5 .top-galary .left {
        padding: 20px 7% 20px 40px;
    }
    .section4 .top-galary .left p.gold {
        padding-top: 15px;
    }
    .section1 .top-galary .left p.gold {
        padding-top: 0px;
    }
    .section3 .top-galary .right {
        padding: 40px 20px 24px 20px;
    }
    .section4 .top-galary .right {
        padding: 40px 20px 24px 20px;
    }
    .section1 .top-galary .right {
        margin-top: 30px;
    }
    .section1 .top-galary .left {
        margin-top: 20px;
    }
}

@media (max-width: 639px) {
    .left h2 {
        font-size: 21px !important;
    }
    .sldier h5 {
        font-size: 14px;
    }
    .sldier h2 {
        font-size: 18px;
    }
    .sldier p {
        font-size: 11px;
    }
    .carousel-caption {
        top: 42%;
        transform: translateY(-42%);
    }
}

@media (max-width: 569px) {
    .sliderbtn {
        display: none;
    }
    .fixed-top a.btn {
        border: 1px solid #c99d51;
        background: transparent;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        width: 67px;
        height: 30px;
        font-size: 10px;
        border-radius: 4px;
        background: #c99d51;
        color: #fff;
    }
}

@media (max-width: 479px) {}

@media (max-width: 411px) {
    .fixed-top a.btn:first-child {
        margin-left: 6px;
    }
    .sldier h5 {
        margin-bottom: 5px;
        font-size: 12px;
    }
    .sldier h2 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .sldier p {
        font-size: 10px;
    }
    .sldier .carousel-indicators {
        margin-bottom: 0px;
    }
}

@media (max-width: 359px) {}