<form action="#" id="send-msg">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control type_msg stop_first_space" required id="u_id" placeholder="User id">
            <input type="text" class="form-control type_msg stop_first_space" required id="other_u_id" placeholder="Other user id">
            <input type="text" class="form-control type_msg stop_first_space" required id="msg" placeholder="Enter message">
            <span class="input-group-btn pull-right">
                <input type="submit" class="btn btn-default send_" id="send_msg" value="SEND MESSAGE">
            </span>
        </div>
    </div>
</form>
<form action="#" id="msg-history">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <input type="text" class="form-control type_msg stop_first_space" required id="user_id" placeholder="Enter User id">
        <input type="text" class="form-control type_msg stop_first_space" required id="msg-history-limit" placeholder="Enter limit">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="GET MESSAGE HISTORY">
        </span>
    </div>
</form>
<form action="#" id="user-threads">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <input type="text" class="form-control type_msg stop_first_space" required id="usr_id" placeholder="User id">
        <input type="text" class="form-control type_msg stop_first_space" required id="other_usr_id" placeholder="Other user id">
        <input type="text" class="form-control type_msg stop_first_space" id="last_id" value="" placeholder="Enter last message id">
        <input type="text" class="form-control type_msg stop_first_space" id="limit" value="" placeholder="Enter limit">
        <input type="text" class="form-control type_msg stop_first_space" id="history_type" value="" placeholder="Enter type (before/after)">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="GET USER THREADS">
        </span>
    </div>
</form>
<form action="#" id="read-messages">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <input type="text" class="form-control type_msg stop_first_space" style="width:265px;" required id="msg_ids" placeholder="Enter message ids with comma seperated">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="READ MESSAGES">
        </span>
    </div>
</form>
<form action="#" id="check-user-status">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <input type="text" class="form-control type_msg stop_first_space" required id="check_user_status_other_user_id" placeholder="Other user id">
        <input type="text" class="form-control type_msg stop_first_space" required id="check_user_status_user_id" placeholder="User id">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="CHECK USER STATUS">
        </span>
    </div>
</form>
<form action="#" id="get-other-profile">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <input type="text" class="form-control type_msg stop_first_space" required id="get_other_profile_user_id" placeholder="User id">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="GET OTHER PROFILE">
        </span>
    </div>
</form>
<form action="#" id="clear-chat">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <input type="text" class="form-control type_msg stop_first_space" required id="get_clear_chat_user_id" placeholder="User id">
        <input type="text" class="form-control type_msg stop_first_space" required id="get_clear_chat_other_user_id" placeholder="Other user id">
        <input type="text" class="form-control type_msg stop_first_space" required id="get_clear_chat_conversation_id" placeholder="Conversation id">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="CLEAR CHAT">
        </span>
    </div>
</form>
<form action="#" id="block-user">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <input type="text" class="form-control type_msg stop_first_space" required id="block_user_id" placeholder="User id">
        <input type="text" class="form-control type_msg stop_first_space" required id="block_other_user_id" placeholder="Other user id">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="BLOCK USER">
        </span>
    </div>
</form>
<form action="#" id="search-keyword">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <input type="text" class="form-control type_msg stop_first_space" required id="search_user_id" placeholder="User id">
        <input type="text" class="form-control type_msg stop_first_space" required id="search_keyword" placeholder="Keyword">
        <input type="text" class="form-control type_msg stop_first_space" required id="search_lat" placeholder="Lat">
        <input type="text" class="form-control type_msg stop_first_space" required id="search_lng" placeholder="Lng">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="SEARCH">
        </span>
    </div>
</form>
<form action="#" id="get_group_user_thread">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <input type="text" class="form-control type_msg stop_first_space" required id="get_group_user_thread_group_id" placeholder="Group ID">
        <input type="text" class="form-control type_msg stop_first_space" id="get_group_user_thread_type" placeholder="Type">
        <input type="text" class="form-control type_msg stop_first_space" required id="get_group_user_thread_user_id" placeholder="User ID">
        <input type="text" class="form-control type_msg stop_first_space" id="get_group_user_thread_last_id" placeholder="Last id">
        <input type="text" class="form-control type_msg stop_first_space" required id="get_group_user_thread_limit" placeholder="Limit">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="GET GROUP USER THREAD">
        </span>
    </div>
</form>
<form action="#" id="send_group_message">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <select required id="send_group_message_message_type">
            <option value="">Select Message Type</option>
            <option value="TEXT">TEXT</option>
            <option value="IMAGE">IMAGE</option>
            <option value="LOCATION">LOCATION</option>
            <option value="VIDEO">VIDEO</option>
            <option value="AUDIO">AUDIO</option>
        </select>
        <input type="text" class="form-control type_msg stop_first_space" required id="send_group_message_msg" placeholder="Message">
        <input type="text" class="form-control type_msg stop_first_space" required id="send_group_message_group_id" placeholder="Group ID">
        <input type="text" class="form-control type_msg stop_first_space" required id="send_group_message_user_id" placeholder="User ID">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="SEND GROUP TEXT MESSAGE">
        </span>
    </div>
</form>
<form action="#" id="read_group_message_update">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <input type="text" class="form-control type_msg stop_first_space" required id="read_group_message_update_msg_id" placeholder="Message id with comma seperated">
        <input type="text" class="form-control type_msg stop_first_space" required id="read_group_message_update_group_id" placeholder="Group ID">
        <input type="text" class="form-control type_msg stop_first_space" required id="read_group_message_update_user_id" placeholder="User ID">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="READ GROUP MESSAGES">
        </span>
    </div>
</form>
<form action="#" id="check_user_group_status">
    <input type="hidden" id="csrf_token" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="input-group">
        <input type="text" class="form-control type_msg stop_first_space" required id="check_user_group_status_group_id" placeholder="Group ID">
        <input type="text" class="form-control type_msg stop_first_space" required id="check_user_group_status_user_id" placeholder="User ID">
        <span class="input-group-btn pull-right">
            <input type="submit" class="btn btn-default send_" value="CHECK USER GROUP STATUS">
        </span>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
//    var socketurl = "http://192.168.0.150:9138/";
//    var socketurl = "http://testing.demo2server.com:9138/";
var socketurl = "http://198.74.62.156:3031/";
    var socket = '';
    var user_id = 98;
    $(function () {

        var device_id = '';
        var cookie_name = 'device_id';
        var res = retrieve_cookie(cookie_name);
        if (res) {
            device_id = res;
        } else {
            var cookie_name = 'device_id';
            var cookie_value = makeid();
            create_cookie(cookie_name, cookie_value, 30, "/");
        }
        socket = io(socketurl, {query: "user_id=" + user_id + "&device_id=" + device_id});
        $('#send-msg').submit(function (e) {
            console.log("send-msg");
            e.preventDefault();
            if ($('#u_id').val() != '' && $('#other_u_id').val() != '' && $('#msg').val() != '') {
                var sendMsgData = {
                    // user_id: $('#u_id').val(),
                    // other_user_id: $('#other_u_id').val(),
                    // msg: $('#msg').val(),
                    // message_type: "TEXT",
                    // thumb_image: "",
                    // other_data: ""
                    user_id :11,
                    audio_id : 12,
                    audio_current_time : 10
                };
                socket.emit('audio_duration',sendMsgData);
                // socket.emit('send_message', sendMsgData);
            }
        });
        $('#msg-history').submit(function (e) {
            console.log("msg-history");
            e.preventDefault();
            if ($('#user_id').val() != '') {
                var userData = {
                    "user_id": $('#user_id').val(),
                    "limit": $('#msg-history-limit').val()
                };
                console.log(userData);
                socket.emit('get_message_history', userData);
            }
        });
        $('#user-threads').submit(function (e) {
            console.log("user-threads");
            e.preventDefault();
            if ($('#usr_id').val() != '' && $('#other_usr_id').val() != '') {
                var requestData = {
                    user_id: $('#usr_id').val(),
                    other_user_id: $('#other_usr_id').val(),
                    last_id: $('#last_id').val() ? $('#last_id').val() : 0,
                    limit: $('#limit').val(),
                    type: $("#history_type").val() ? $("#history_type").val() : ""
                };
                socket.emit('get_user_thread', requestData);
            }
        });
        $('#read-messages').submit(function (e) {
            e.preventDefault();
            if ($('#msg_ids').val() != '') {
                var requestData = {
                    msg_id: $('#msg_ids').val()
                };
                socket.emit('read_message_update', requestData);
            }
        });

        $('#check-user-status').submit(function (e) {
            e.preventDefault();
            if ($('#check_user_status_other_user_id').val() != '' && $('#check_user_status_user_id').val()) {
                var requestData = {
                    other_user_id: $('#check_user_status_other_user_id').val(),
                    user_id: $('#check_user_status_user_id').val()
                };
                socket.emit('check_user_status', requestData);
            }
        });
        $('#get-other-profile').submit(function (e) {
            e.preventDefault();
            if ($('#get_other_profile_user_id').val() != '') {
                var requestData = {
                    user_id: $('#get_other_profile_user_id').val()
                };
                socket.emit('get_other_profile', requestData);
            }
        });
        $('#clear-chat').submit(function (e) {
            e.preventDefault();
            if ($('#get_clear_chat_user_id').val() != '' && $('#get_clear_chat_other_user_id').val() != '') {
                var requestData = {
                    user_id: $('#get_clear_chat_user_id').val(),
                    other_user_id: $('#get_clear_chat_other_user_id').val(),
                    conversation_id: $('#get_clear_chat_conversation_id').val()
                };
                socket.emit('clear_chat', requestData);
            }
        });
        $('#block-user').submit(function (e) {
            e.preventDefault();
            if ($('#block_user_id').val() != '' && $('#block_other_user_id').val() != '') {
                var requestData = {
                    user_id: $('#block_user_id').val(),
                    other_user_id: $('#block_other_user_id').val()
                };
                socket.emit('user_block_unblock', requestData);
            }
        });
        $('#search-keyword').submit(function (e) {
            e.preventDefault();
            if ($('#search_user_id').val() != '' && $('#search_keyword').val() != '') {
                var requestData = {
                    user_id: $('#search_user_id').val(),
                    search_keyword: $('#search_keyword').val(),
                    lat: $('#search_lat').val(),
                    lng: $('#search_lng').val()
                };
                socket.emit('search', requestData);
            }
        });
        $('#get_group_user_thread').submit(function (e) {
            e.preventDefault();
            if ($('#get_group_user_thread_group_id').val() != '' && $('#get_group_user_thread_user_id').val() != '' && $('#get_group_user_thread_limit').val() != '') {
                var requestData = {
                    group_id: $('#get_group_user_thread_group_id').val(),
                    type: $('#get_group_user_thread_type').val(),
                    user_id: $('#get_group_user_thread_user_id').val(),
                    last_id: $('#get_group_user_thread_last_id').val(),
                    limit: $('#get_group_user_thread_limit').val()
                };
                socket.emit('get_group_user_thread', requestData);
            }
        });
        $('#send_group_message').submit(function (e) {
            e.preventDefault();
            if ($('#send_group_message_message_type').val() != '' && $('#send_group_message_msg').val() != '' && $('#send_group_message_group_id').val() != '' && $('#send_group_message_user_id').val() != '') {
                var requestData = {
                    message_type: $('#send_group_message_message_type').val(),
                    msg: $('#send_group_message_msg').val(),
                    group_id: $('#send_group_message_group_id').val(),
                    user_id: $('#send_group_message_user_id').val()
                };
                socket.emit('send_group_message', requestData);
            }
        });
        $('#read_group_message_update').submit(function (e) {
            e.preventDefault();
            if ($('#read_group_message_update_msg_id').val() != '' && $('#read_group_message_update_group_id').val() != '' && $('#read_group_message_update_user_id').val() != '') {
                var requestData = {
                    msg_id: $('#read_group_message_update_msg_id').val(),
                    group_id: $('#read_group_message_update_group_id').val(),
                    user_id: $('#read_group_message_update_user_id').val()
                };
                console.log("read_group_message_update data==",requestData);
                socket.emit('read_group_message_update', requestData);
            }
        });
        $('#check_user_group_status').submit(function (e) {
            e.preventDefault();
            if ($('#check_user_group_status_group_id').val() != '' && $('#check_user_group_status_user_id').val() != '') {
                var requestData = {
                    group_id: $('#check_user_group_status_group_id').val(),
                    user_id: $('#check_user_group_status_user_id').val()
                };
                console.log("check_user_group_status data==",requestData);
                socket.emit('check_user_group_status', requestData);
            }
        });


    });
    function create_cookie(name, value, days2expire, path) {
        var date = new Date();
        date.setTime(date.getTime() + (days2expire * 24 * 60 * 60 * 1000));
        var expires = date.toUTCString();
        document.cookie = name + '=' + value + ';' +
                'expires=' + expires + ';' +
                'path=' + path + ';';
    }
    function retrieve_cookie(name) {
        var cookie_value = "",
                current_cookie = "",
                name_expr = name + "=",
                all_cookies = document.cookie.split(';'),
                n = all_cookies.length;
        for (var i = 0; i < n; i++) {
            current_cookie = all_cookies[i].trim();
            if (current_cookie.indexOf(name_expr) == 0) {
                cookie_value = current_cookie.substring(name_expr.length, current_cookie.length);
                break;
            }
        }
        return cookie_value;
    }
    function makeid() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for (var i = 0; i < 5; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        return text;
    }
</script>
