/* Roboto Thin */
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/roboto/Roboto-Thin.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/roboto/Roboto-Thin.otf") format("opentype"), /* Open Type Font */
    url("../fonts/roboto/Roboto-Thin.svg") format("svg"), /* Legacy iOS */
    url("../fonts/roboto/Roboto-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/roboto/Roboto-Thin.woff") format("woff"), /* Modern Browsers */
    url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* Roboto Light */
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/roboto/Roboto-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/roboto/Roboto-Light.otf") format("opentype"), /* Open Type Font */
    url("../fonts/roboto/Roboto-Light.svg") format("svg"), /* Legacy iOS */
    url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/roboto/Roboto-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/roboto/Roboto-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* Roboto Regular */
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/roboto/Roboto-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/roboto/Roboto-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/roboto/Roboto-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* Roboto Medium */
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto/Roboto-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/roboto/Roboto-Medium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/roboto/Roboto-Medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/roboto/Roboto-Medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* Roboto Bold */
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/roboto/Roboto-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/roboto/Roboto-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/roboto/Roboto-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* Roboto Black */
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/Roboto-Black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/roboto/Roboto-Black.otf") format("opentype"), /* Open Type Font */
    url("../fonts/roboto/Roboto-Black.svg") format("svg"), /* Legacy iOS */
    url("../fonts/roboto/Roboto-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/roboto/Roboto-Black.woff") format("woff"), /* Modern Browsers */
    url("../fonts/roboto/Roboto-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


html { font-family: 'Roboto-Regular', sans-serif; font-size: 14px;}
body { font-family: 'Roboto-Regular', sans-serif; font-size: 1rem; font-weight: 400; color: #001737; line-height: normal; position: relative;}


