html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto-Regular" !important;
    max-width: 1920px;
    margin: 0 auto;
}
.container-fluid{
    padding: 0 30px;
    @media screen and (max-width: 767px){
        padding: 0 15px;
    }
}
.btn{
    border-radius: 8px;
    font-size: 18px;
    color: $white;
    @include fb;
}
.btn-red{background-color: #A80D2C;
    &:hover{background-color: transparent; border-color: #A80D2C; color: #A80D2C;}
}
.btn-gray{background-color: #605641;
    &:hover{background-color: transparent; border-color: #605641; color: #605641;}
}
.btn-black{background-color: #000000;
    &:hover{background-color: transparent; border-color: #000000; color: #000000;}
}
.btn-submit{
    border-radius: 8px;
    font-size: 20px;
    @include fb;
    color: #A0132C;
    height: 74px;
    border: solid 2px transparent;
    background-color: $white;
    @media screen and (max-width: 1199px){
        height: 64px;
    }
    @media screen and (max-width: 991px){
        height: 59px;
        font-size: 18px;
    }
    @media screen and (max-width: 575px){
        height: 49px;
        font-size: 16px;
    }
    @media screen and (max-width: 479px){
        font-size: 14px;
    }

    &:hover{
        background-color: rgba(0, 0, 0, 0.24);
        color: $white-text;
    }
    a{
        width: 100%;
        height: 100%;
        color: #A0132C;
    }
}

/////////////////// header

#myHeader {
    position: fixed;
    transition: 0.2s linear all;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: $primary-color;
    padding: 0;

    .navbar {
        padding: 0;
    }
    .navbar-light .navbar-toggler {
        background: white;
        @media screen and (max-width: 575px){
            padding: 0.15rem 0.15rem;
            font-size: 0.75rem;
        }
    }

    div#navbarNav {
        justify-content: flex-end;

        @media screen and (max-width: 1199px){
            position: absolute;
            top: 66px;
            left: 0px;
            width: 100%;
            background-color: #433B2B;
        }
        @media screen and (max-width: 575px){
            top: 42px;
        }
    }
    .navbar-brand{
        background-color: $secondary-color;
        max-width: 349px;
        width: 100%;
        margin-right: 0px; 
        padding: 4px 0 4px 19px;

        @media screen and (max-width: 1599px){
            max-width: 300px;
        }
        @media screen and (max-width: 1439px){
            max-width: 250px;
        }
        @media screen and (max-width: 1365px){
            max-width: 230px;
        }
        @media screen and (max-width: 575px){
            max-width: 120px;
            padding: 4px 19px 4px 19px;
        }
        img{ width: auto; display: block;
            @media screen and (max-width: 575px){
                width: 100%;
            }
        }
    } 

    .header-inner{
        width: calc(100% - 349px);
        @include box-shadow(0, 4px, 16px, rgba(167,175,183,0.33));
        padding: 0 24px 0 42px;

        @media screen and (max-width: 1599px){
            width: calc(100% - 300px);
        }
        @media screen and (max-width: 1439px){
            width: calc(100% - 250px);
            padding: 0 24px 0 32px;
        }
        @media screen and (max-width: 1365px){
            width: calc(100% - 230px);
            padding: 0 24px 0 20px;
        }
        @media screen and (max-width: 575px){
            width: calc(100% - 120px);
            padding: 0 15px 0 15px;
        }

        .btn-group{
            margin-left: 22px;
            .profile-btn{
                margin-left: 13px;
                @media screen and (max-width: 575px){margin-left:0;}
                span{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: inline-block;
                    img{
                        @include imgfit;
                    }
                }
                &.dropdown-toggle{
                    &::after{
                        content: '';
                        position: relative;
                        right: 0;
                        top: 0;
                        background-image: url(../images/profile-arrow-down.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        border: 0;
                        margin: 0;
                        display: block;
                        background-size: 11px;
                        width: 11px;
                        height: 7px;
                        margin-left: 10px;
                    }
                }
            }

            .buttons{
                a{
                    font-size: 12px;
                    color: $white;
                    padding: 5px 16px;
                    border-radius: 4px;
                    @media screen and (max-width: 575px){
                        font-size: 11px;
                        padding: 5px 8px;
                    }
                    &.active{
                        background-color: #A80D2C;
                    }
                }
            }
        }

        form{
            width: 349px;
            background-color: rgba(0,0,0,0.24);
            border-radius: 8px;
            margin-right: 40px;
            @media screen and (max-width: 1599px){
                width: 260px;
            }
            @media screen and (max-width: 1365px){
                width: 230px;
                margin-right: 20px;
            }
            @media screen and (max-width: 767px){
                background-color: transparent;
                position: relative;
                width: auto;
                margin-right: 30px;
            }
            @media screen and (max-width: 575px){
                margin-right: 15px;
            }
            span{
                &.icon-search {
                    font-size: 22px;
                }
            }
            .input-group{
                @media screen and (max-width: 767px){
                    position: absolute;
                    top: 45px;
                    background-color: rgba(0, 0, 0, 0.24);
                    width: 290px;
                    left: 50%;
                    @include transformX;
                    display: none;
                }
                @media screen and (max-width: 575px){
                    top: 34px;
                }
                .input-group-prepend{
                    background-color: transparent;
                    @media screen and (max-width: 767px){
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .input-group-text{
                        background-color: transparent;
                        border: 0;
                        padding: 5px 0px 5px 18px;
                        &.icon-search{
                            font-size: 19px;
                        }
                    }
                }
                input{
                    background-color: transparent;
                    height: 39px;
                    border: 0;
                    font-size: 12px;
                    color: #DDE4EB;
                    padding: 5px 11px;
                    &::-webkit-input-placeholder { color: #DDE4EB; opacity: 1; }
                    &::-moz-placeholder { color: #DDE4EB; opacity: 1; }
                    &:-ms-input-placeholder { color: #DDE4EB; opacity: 1; }
                    &:-moz-placeholder { color: #DDE4EB; opacity: 1; } 
                    &:focus{
                        box-shadow: none;
                    }

                    @media screen and (max-width: 767px){
                        display: inline-block;
                        width: calc(100% - 48px);
                    }
                }
            }
        }
        .icon-right {
            &.icon-bell{
                font-size: 17px;
            }
        }
    }
    
    
    .navbar-nav {
        align-items: center;
        width: 100%;
        @media(max-width:1199px){
            align-items: flex-start;
            padding: 15px 0;
        }

        li{
            margin: 0 22px;
            @media screen and (max-width: 1365px){
                margin: 0 15px;
            }
            @media screen and (max-width: 1199px){
                width: 100%;
                margin: 10px 0;
                padding: 0 30px;
            }
            .nav-link {
                color: #fff;
                font-size: 16px;
                padding: 0;
                font-weight: 500;
            }
            a{
                font-size: 14px;
                @include fm;
                color: #ACA28D;
                position: relative;
                white-space: nowrap;
            }
            &.active{
                a{color: $white-text;}
            }
        }
    }
}



// fixed header
#myHeader.fixed-header {
    /* background: $blue-color; */
    top: 0px;
    width: 100%;
    border-radius: 0;
}

.body-section{
    padding-top: 66px;
    @media screen and (max-width: 575px){
        padding-top: 42px;
    }
}

.body-login{
    /* height: 100vh; */
    .signup-bnr-new, .common-bnr{
        @media screen and (max-width: 1199px){
            min-height: calc(100vh - 145px);
        }
        @media screen and (max-width: 575px){
            min-height: calc(100vh - 99px);
        }
    }
}

/******************************************* Signup Page Css *******************************************/
.common-bnr{
    background-image: url('../images/signup-bnr.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 164px);
    padding: 173px 0 87px;
    @media screen and (max-width: 1439px){
        padding: 123px 0 60px;
    }
    @media screen and (max-width: 1365px){
        padding: 100px 0 50px;
    }
    @media screen and (max-width: 1199px){
        padding: 70px 0 40px;
    }
    @media screen and (max-width: 575px){
        padding: 50px 0 40px;
    }
}
.mb-md-6{
    margin-bottom: 54px;
    @media screen and (max-width: 767px){
        margin-bottom: 40px;
    }
    @media screen and (max-width: 575px){
        margin-bottom: 30px;
    }
}
.mb-sm-6{
    margin-bottom: 40px;
}


.signup-block{
    max-width: 912px;
    width: 100%;
    background: rgb(168,13,44);
    background: -moz-linear-gradient(-45deg,  rgba(168,13,44,0.9) 0%, rgba(168,13,44,0.9) 50%, rgba(120,2,26,0.9) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(168,13,44,0.9) 0%,rgba(168,13,44,0.9) 50%,rgba(120,2,26,0.9) 100%);
    background: linear-gradient(135deg,  rgba(168,13,44,0.9) 0%,rgba(168,13,44,0.9) 50%,rgba(120,2,26,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80d2c', endColorstr='#78021a',GradientType=1 );
    border-radius: 40px;
    padding: 52px 60px 78px;
    @media screen and (max-width: 1365px){
        max-width: 812px;
        padding: 42px 50px 68px;
    }
    @media screen and (max-width: 991px){
        padding: 35px 40px 50px;
    }
    @media screen and (max-width: 575px){
        padding: 35px 25px 35px;
        border-radius: 25px;
    }

    h2{
        font-size: 37px;
        color: $white;
        @include fb;
        line-height: 62px;
        margin-bottom: 6px;
        @media screen and (max-width: 1199px){
            font-size: 32px;
        }
        @media screen and (max-width: 767px){
            font-size: 28px;
        }
        @media screen and (max-width: 575px){
            font-size: 24px;
            line-height: 42px;
        }
    }
    .sub-title{
        font-size: 20px;
        color: $white;
        margin-bottom: 60px;
        @media screen and (max-width: 1199px){
            font-size: 18px;
        }
        @media screen and (max-width: 767px){
            font-size: 15px;
            margin-bottom: 40px;
        }
        @media screen and (max-width: 575px){
            font-size: 13px;
            margin-bottom: 30px;
        }
    }

    form{
        .form-group{
            position: relative;

            label{
                padding: 0 4px;
                color: $white-text;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 12px;
                span{margin-right: 8.7px; width: 12px; display: inline-block;
                    &.icon-first-name{ font-size: 12px; }
                    &.icon-last-name{ font-size: 12px; }
                    &.icon-email{ font-size: 10px; }
                    &.icon-mobile{ font-size: 12.6px; }
                    &.icon-lock{ font-size: 13.38px; }
                }
            }
            .icon-right{
                &.icon-eye{
                    font-size: 12px;
                }
            }
            .form-control{
                background-color: rgba(0,0,0,0.24);
                border-radius: 8px;
                height: 54px;
                border: 0;
                padding: 5px 21px;
                font-size: 16px;
                color: $white-text;
                @include fb;
                    &::-webkit-input-placeholder { color: $white; opacity: 1; }
                    &::-moz-placeholder { color: $white; opacity: 1; }
                    &:-ms-input-placeholder { color: $white; opacity: 1; }
                    &:-moz-placeholder { color: $white; opacity: 1; } 
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover, 
                    &:-webkit-autofill:focus, 
                    &:-webkit-autofill:active  {
                       transition: background-color 5000s;
                        -webkit-text-fill-color: #fff !important;
                    }

                @media screen and (max-width: 991px){
                    padding: 5px 15px;
                }
                @media screen and (max-width: 575px){
                    height: 44px;
                    font-size: 14px;
                }
            }

            &.phonenumber{
                .row{
                    margin: 0 -10.5px;
                    @media screen and (max-width: 575px){
                        margin: 0 -5px;
                    }
                    div[class^="col"]{
                        padding: 0 10.5px;
                        @media screen and (max-width: 575px){
                            padding: 0 5px;
                        }
                    }
                }
            }

            .icon-right{
                position: absolute;
                right: 21px;
                top: 72%;
                @include transformY;
            }
        }
        .btn-submit{
            margin-bottom: 69px;
            @media screen and (max-width: 991px){
                margin-bottom: 55px;
            }
        }
        .forgot-link{
            font-size: 12px;
            color: $white-text;
            @media screen and (max-width: 575px){
                display: block;
                text-align: center;
            }
        }
    }

    .social-signup{
        h5{
            font-size: 14px;
            color: $white;
            margin-bottom: 15px;
        }
        ul{
            li{
                margin: 0 6px;
                span{
                    &.icon-google-hangouts{ font-size: 21.25px; 
                        .path1, .path2, .path3, .path4{
                            &:before{margin-left: 0;}
                        }
                    }
                    &.icon-facebook{ font-size: 21.25px; }
                    &.icon-twitter{ font-size: 27px; }
                    &.icon-instagram-sketched{ font-size: 21.25px; }
                }
            }
        }
    }
}
.login-block {
    padding: 52px 60px 96px;
    @media screen and (max-width: 1365px){
        padding: 42px 50px 68px;
    }
    @media screen and (max-width: 991px){
        padding: 35px 40px 50px;
    }
    @media screen and (max-width: 575px){
        padding: 35px 25px 35px;
    }
    form{
        .btn-submit{
            margin-bottom: 54px;
        }
    }
}

.forgot-block{
    padding: 55px 50px 76px;
    @media screen and (max-width: 1365px){
        padding: 42px 50px 68px;
    }
    @media screen and (max-width: 991px){
        padding: 35px 40px 50px;
    }
    @media screen and (max-width: 575px){
        padding: 35px 25px 35px;
    }

    .sub-title{
        margin-bottom: 43px;
    }

    form{
        .col-md-7{
            -ms-flex: 0 0 55.633333%;
            flex: 0 0 55.633333%;
            max-width: 55.633333%;
            @media screen and (max-width: 575px){
                -ms-flex: 0 0 70.633333%;
                    flex: 0 0 70.633333%;
                    max-width: 70.633333%;
            }
        }
        .col-md-5{
            -ms-flex: 0 0 44.366667%;
            flex: 0 0 44.366667%;
            max-width: 44.366667%; 
            @media screen and (max-width: 575px){
                -ms-flex: 0 0 29.366667%;
                flex: 0 0 29.366667%;
                max-width: 29.366667%;
            }
        }
        .form-group{
            .form-control{
                border-radius: 8px 0 0 8px !important;
            }
        }
        .btn-submit{
            border-radius: 0 8px 8px 0;
            height: 54px;
            @media screen and (max-width: 575px){
                height: 44px;
            }
        }
    }
}

.reset-block{
    padding: 55px 60px 88px;
    @media screen and (max-width: 1365px){
        padding: 42px 50px 68px;
    }
    @media screen and (max-width: 991px){
        padding: 35px 40px 50px;
    }
    @media screen and (max-width: 575px){
        padding: 35px 25px 35px;
    }
}

/************************************Recent Projects Page Css*************************************/
.bg-gray{
    background-color: #F8F8F8;
}
.inner-bnr{
    width: 100%;
    background: rgb(168,13,44);
    background: -moz-linear-gradient(-45deg,  rgba(168,13,44,1) 0%, rgba(120,2,26,1) 34%, rgba(120,2,26,1) 99%);
    background: -webkit-linear-gradient(-45deg,  rgba(168,13,44,1) 0%,rgba(120,2,26,1) 34%,rgba(120,2,26,1) 99%);
    background: linear-gradient(135deg,  rgba(168,13,44,1) 0%,rgba(120,2,26,1) 34%,rgba(120,2,26,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80d2c', endColorstr='#78021a',GradientType=1 );
    min-height: 164px;
}

.recent-projects-sec{
    .title-sec{
        margin-top: -105px;
        h5{
            font-size: 24px;
            color: $white-text;
            @include fb;
            margin: 0;
            @media screen and (max-width: 1199px){font-size: 19px;}
            @media screen and (max-width: 991px){font-size: 18px;}
            @media screen and (max-width: 767px){font-size: 16px;}
            @media screen and (max-width: 575px){font-size: 15px;}
        }
        .btn{
            min-width: 159px;
            min-height: 46px;
            border-radius: 5px;
            background-color: $white;
            font-size: 18px;
            color: #A80D2C;
            line-height: 1.8;
            @include fb;
            @media screen and (max-width: 767px){
                min-width: 130px;
                min-height: 36px;
                font-size: 16px;
                line-height: 1.4;
            }
            @media screen and (max-width: 575px){
                min-width: 95px;
                min-height: 30px;
                font-size: 13px;
                line-height: 1.3;
            }
        }
    }
}
/* #more {display: none;} */

.morecontent span {
  display: none;
}
.morelink {
  display: block;
}
.accordian-collapse{
    margin-top: 31px;
  .card{
    background-color: transparent;
    border-radius: 0;
    border: 0;
    @include box-shadow(0, 4px, 10px, rgba(120,120,119,0.15));
    margin-bottom: 31px;
    .card-header{
      padding: 26px 16px 26px 23px;
      background-color: $white;
      border: 0;
      border-radius: 0;
      &.collapsed {
        background-color: $white;
      }
      h5{
        font-size: 18px;
        color: #001737;
        @include fb;
        margin-bottom: 22px;
        @media screen and (max-width: 1199px){
            font-size: 16px;
        }
        @media screen and (max-width: 767px){
            font-size: 15px;
        }
        @media screen and (max-width: 575px){
            font-size: 13px;
        }
        button{
            border: 0;
            background-color: transparent;
            &:focus{outline: 0;} 

            .icon{
                font-size: 30px;
                @media screen and (max-width: 1199px){
                    font-size: 25px;
                }
                &::before{color: #000000;}
            }
        }
      }
      p{
        font-size: 16px;
        color: rgba(0,23,55,0.5);
        line-height: 20px;
        margin-bottom: 0;
        @media screen and (max-width: 1199px){
            font-size: 14px;
        }
        @media screen and (max-width: 767px){
            font-size: 13px;
        }
        @media screen and (max-width: 575px){
            font-size: 12px;
        }
      }
    }
  }
}

.startprojectmodal{
    .modal-dialog{
        max-width: 1024px;
        width: 100%;
        -webkit-transform: translateY(-50%) !important;
        -moz-transform:    translateY(-50%) !important;
        -ms-transform:     translateY(-50%) !important;
        -o-transform:      translateY(-50%) !important;
        transform:         translateY(-50%) !important;
        top: 50%;

        @media screen and (max-width: 1199px){
            width: 90%;
            margin: 20px auto;
        }
        @media screen and (max-width: 575px){
            height: calc(100% - 20px);
        }

        .modal-content{
            padding: 28px 44px 49px;
            border: solid 1px #707070;
            border-radius: 20px;
            @media screen and (max-width: 767px){
                padding: 28px 20px 49px;
            }
            @media screen and (max-width: 575px){
                padding: 28px 20px 20px;
            }
            .close{
                @include transformrotate;
                outline: 0;
                position: absolute;
                right: 8px;
                top: 6px;
                opacity: 1;
                &:focus{outline: 0;}
                .icon-accordian-add{
                    font-size: 42px;
                    @media screen and (max-width: 575px){font-size: 30px;}
                    &::before{color: #000000;}
                    &:hover{
                        &::before{
                            color: #A80D2C;
                        }
                    }
                }
            }

            h2{
                font-size: 30px;
                color: #A80D2C;
                @include fb;
                margin-bottom: 35px;
                text-align: center;
                text-transform: uppercase;
                @media screen and (max-width: 1199px){font-size: 28px;}
                @media screen and (max-width: 991px){font-size: 26px;}
                @media screen and (max-width: 767px){font-size: 24px;}
                @media screen and (max-width: 575px){font-size: 22px;}
            }
            form{
                .input-group{
                    .form-control{
                        background-color: #EBEBEB;
                        border-radius: 8px;
                        font-size: 16px;
                        color: #787877;
                        padding: 5px 21px;
                        min-height: 54px;
                        margin-bottom: 25px;
                        border: 0;
                        &::-webkit-input-placeholder { color: #787877; opacity: 1; }
                        &::-moz-placeholder { color: #787877; opacity: 1; }
                        &:-ms-input-placeholder { color: #787877; opacity: 1; }
                        &:-moz-placeholder { color: #787877; opacity: 1; } 

                        @media screen and (max-width: 991px){
                            font-size: 15px;
                            min-height: 50px;
                        }
                        @media screen and (max-width: 575px){
                            min-height: 45px;
                            margin-bottom: 15px;
                        }
                    }
                }

                .additional-info{
                    margin-top: 9px;
                    margin-bottom: 78px;
                    @media screen and (max-width: 767px){
                        margin: 0 0 20px;
                    }
                    p{
                        font-size: 16px;
                        color: #000000;
                        @include fm;
                        margin-bottom: 0;
                        line-height: normal;
                        @media screen and (max-width: 991px){
                            font-size: 15px;
                        }
                    }
                    a{
                        font-size: 16px;
                        color: #605641;
                        @include fm;
                        text-decoration: underline;
                        @media screen and (max-width: 991px){
                            font-size: 15px;
                        }
                    }
                }

                .btn-groups-row{
                    margin: 0 -10px;
                    div[class^="col"]{
                        padding: 0 10px;
                    }
                    .btn-tab{
                        width: 100%;
                        height: 54px;
                        line-height: 2.4;
                        @media screen and (max-width: 1199px){
                            line-height: 2.7;
                            font-size: 16px;
                        }
                        @media screen and (max-width: 991px){
                            height: 50px;
                            font-size: 15px;
                        }
                        @media screen and (max-width: 767px){
                            height: 42px;
                            font-size: 11px;
                            line-height: 2.8;
                        }
                    }
                }

                
            }
        }
    }

}



/*********************************Structural Page Css*********************************/
.structural-body-sec{
    height: 1330px;
    @media screen and (max-width: 767px){
        height: 100%;
    }
}
.structural-sec{
    height: 100%;
    .structural-sec-inner{
        height: 100%;
    }
    .sidebar{
        width: 349px;
        background-color: $white;
        padding: 32px 8px 32px 21px;
        @media screen and (max-width: 1599px){
            width: 300px;
        }
        @media screen and (max-width: 1439px){
            width: 250px;
        }
        @media screen and (max-width: 1365px){
            width: 230px;
        }
        @media screen and (max-width: 991px){
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            -webkit-transform: translate3d(-100%, 0, 0);
            -moz-transform: translate3d(-100%, 0, 0);
            -o-transform: translate3d(-100%, 0, 0);
            -ms-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            overflow-y: auto;
            padding: 0;
        }

        &.show-sidebar{
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .sidebar-inner{
            background-color: $white;
            position: relative;
            height: 100%;
            @media screen and (max-width: 991px){
                padding: 40px 20px 20px;
                width: 250px;
                height: auto;
            }
            #close-btn{
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #a80d2c;
                color: #ffffff;
                border: 0;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        h5{
            font-size: 18px;
            color: #A80D2C;
            @include fb;
            margin-bottom: 37px;
            @media screen and (max-width: 1365px){
                font-size: 16px;
            }
        }

        form{
            height: 97%;
            .input-box{
                height: calc(100% - 100px);
                overflow-y: auto;
                padding-right: 17px;

                &::-webkit-scrollbar{ width: 4px; height: 4px; background-color: #94959A;  -webkit-border-radius: 5px; border-radius: 5px;}
                /*add a shadow to the scrollbar here*/
                &::-webkit-scrollbar-track{ background-clip: content-box; background-color: #94959A;  -webkit-border-radius: 5px; border-radius: 5px;}
                /*this is the little scrolly dealio in the bar*/ 
                &::-webkit-scrollbar-thumb{ border-radius: 4px; background-color: #A80D2C; height: 5px;}
                /*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/  
                &::-webkit-scrollbar-corner{ display: none; height: 0px; width: 0px;}
            }
            .form-group{
                margin-bottom: 38px;
                &:last-child{margin-bottom: 20px;}

                input{
                    border: 0;
                    border-bottom: solid 1px #CFCFCF;
                    font-size: 14px;
                    color: #000000;
                    @include fm;
                    &::-webkit-input-placeholder { color: #787877; opacity: 1; }
                    &::-moz-placeholder { color: #787877; opacity: 1; }
                    &:-ms-input-placeholder { color: #787877; opacity: 1; }
                    &:-moz-placeholder { color: #787877; opacity: 1; } 

                    @media screen and (max-width: 1439px){
                        font-size: 13px;
                    }
                }
            }
            .btn-row{
               position: sticky;
               position: -webkit-sticky;
               bottom: 0;
               background: #ffffff;
               width: calc(100% - 20px);
               padding-bottom: 20px;
            }

            .btn{
                height: 54px;
                margin-top: 37px;
            }
        }
    }
    .structural-col{
        width: calc(100% - 349px);
        @media screen and (max-width: 1599px){
            width: calc(100% - 300px);
        }
        @media screen and (max-width: 1439px){
            width: calc(100% - 250px);
        }
        @media screen and (max-width: 1365px){
            width: calc(100% - 230px);
        }
        @media screen and (max-width: 992px){
            width: 100%;
        }

        .container-fluid{
            padding: 0 30px 0 42px;
            @media screen and (max-width: 991px){
                padding: 0 30px;
            }
            @media screen and (max-width: 767px){
                padding: 0 15px;
            }
        }

        .title-sec{
            margin-top: -83px;
            @media screen and (max-width: 991px){
                margin-top: -110px;
            }
            h5{
                margin-bottom: 14px;
            }
        }

        .structural-details-col{
            background-color: $white;
            @include box-shadow(0, 4px, 10px, rgba(120,120,119,0.15));
            .details-panel{
                padding: 23px;
                @media screen and (max-width: 1365px){
                    padding: 15px 15px;
                }
                @media screen and (max-width: 1199px){
                    padding: 15px 10px;
                    white-space: nowrap;
                }
                p{
                    font-size: 18px; 
                    color: #001737;
                    @include fb;
                    margin-bottom: 11px;
                    &:last-child{margin-bottom: 0;}
                    @media screen and (max-width: 1365px){
                        font-size: 15px;
                    }
                    @media screen and (max-width: 1199px){
                        font-size: 13px;
                    }
                    @media screen and (max-width: 575px){
                        font-size: 12px;
                    }
                }
            }
            .details-panel-last{
                padding-right: 103px;
                padding-left: 0;
                @media screen and (max-width: 1599px){
                    padding-right: 50px;
                }
                @media screen and (max-width: 1365px){
                    padding-right: 30px;
                }
                @media screen and (max-width: 1199px){
                    padding-right: 15px;
                }
            }
            .equals{
                width: 1px;
                background-color: #D1D1D1;
                margin: 0 60px 0 56px;
                position: relative;
                @media screen and (max-width: 1599px){
                    margin: 0 40px;
                }
                @media screen and (max-width: 1439px){
                    margin: 0 30px;
                }
                @media screen and (max-width: 1199px){
                    margin: 0 20px;
                }

                .icon-equal{
                    font-size: 26px;
                    position: absolute;
                    top: 50%;
                    @include transformY;
                    left: -13px;
                }
            }

            &.external-pressure{
                padding: 25px 35px;
                @media screen and (max-width: 1365px){padding: 18px 30px;}
                @media screen and (max-width: 767px){padding: 18px 15px;}
                .external-pressure-col{
                    width: calc(100% / 3);
                }
                p{
                    font-size: 18px;
                    color: #001737;
                    @include fb;
                    margin-bottom: 13px;
                    @media screen and (max-width: 1365px){font-size: 15px;}
                    @media screen and (max-width: 1199px){font-size: 13px;}
                    @media screen and (max-width: 575px){font-size: 12px;}
                }
                small{
                    font-size: 18px;
                    color: #787877;
                    @include fb;
                    @media screen and (max-width: 1365px){font-size: 15px;}
                    @media screen and (max-width: 1199px){font-size: 13px;}
                }
            }
        }
    }
    .text-black{
        h5{
            @media screen and (max-width: 767px){
                color: #001737;
            }
        }
    }
}
.structural-collapse{
    .card{
        @include box-shadow(0, 4px, 16px, rgba(167,175,183,0.33));
        .card-header{
            padding: 27px 37px 29px 21px;
            @media screen and (max-width: 767px){
                padding: 15px 21px;
            }
            h5{
                font-size: 18px;
                color: #001737;
                @include fb;
                .icon{
                    font-size: 25px;
                }

            }
        }
        .card-body{
            padding: 0 29px 23px 21px;
            background-color: $white;

            form{
                .form-group{
                    label{
                        font-size: 12px;
                        color: rgba(0,23,55,0.50);
                        margin-bottom: 7px;
                        display: block;
                    }
                    .form-control{
                        border: 0;
                        border-bottom: solid 1px #CFCFCF;
                        font-size: 14px;
                        color: #001737;
                        @include fb;
                        padding: 0 10px 5.5px 0;
                        border-radius: 0;
                        line-height: 20px;
                        height: auto;
                        max-width: 296px;
                        width: 100%;
                        background-color: $white;
                        &::-webkit-input-placeholder { color: #001737; opacity: 1; }
                        &::-moz-placeholder { color: #001737; opacity: 1; }
                        &:-ms-input-placeholder { color: #001737; opacity: 1; }
                        &:-moz-placeholder { color: #001737; opacity: 1; } 

                        @media screen and (max-width: 767px){
                            max-width: 100%;
                        }
                    }
                    .custom-select {
                        .select-selected {
                            font-size: 14px;
                            color: #001737;
                            @include fb;
                            padding: 0;
                            &::after{
                                border: solid #A80D2C;
                                border-width: 0 2px 2px 0;
                                padding: 2.6px;
                                top: 4px;
                            }
                            &.select-arrow-active{
                                &::after{
                                    top: 7px;
                                }
                            }
                        }

                        .select-items {
                            width: 100%;
                            background-color: $white;
                            @include box-shadow(0, 4px, 16px, rgba(167,175,183,0.33));
                            div{
                                color: #001737;
                                font-size: 14px;
                                @include fb;
                            }
                        }
                    }
                }
            }
            .roof-table{
                background-color: #F5FAFF;
                height: 100%;
                padding: 11px 20px 0 28px;

                .table-bordered {
                    margin-bottom: 0;
                    th, td{
                        border-color: #DDE4EB;
                        white-space: nowrap;
                    }
                    thead{
                        th{
                            font-size: 14px;
                            color: #000000;
                            @include fm;
                            padding: 15px 10px;
                            text-align: center;
                            border: 0;
                        }
                    }
                    tbody{
                        th{
                            font-size: 14px;
                            color: #001737;
                            @include fr;
                            padding: 14px 10px 14px 0;
                            border-left: 0;
                        }
                        td{
                            text-align: center;
                            padding: 10px 10px;
                            vertical-align: middle;
                            .icon-arrow-down{
                                font-size: 18px;
                                color: #001737;

                                &.up{
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




/***********************************************Sign Up New Design Css**************************************************/
.container-inner{
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.signup-bnr-new{
    position: relative;
    min-height: calc(100vh - 164px);
    display: -ms-flexbox;
    display: flex;
    padding: 102px 0 80px;
    @media screen and (max-width: 1365px){
        padding: 80px 0 60px;
    }

    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('../images/farm.jpg');
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        width: 50%;
        height: 100%;
    }
    
    &::after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background: rgb(168,13,44);
        background: -moz-linear-gradient(-45deg,  rgba(168,13,44,0.9) 0%, rgba(168,13,44,0.9) 29%, rgba(120,2,26,0.9) 100%);
        background: -webkit-linear-gradient(-45deg,  rgba(168,13,44,0.9) 0%,rgba(168,13,44,0.9) 29%,rgba(120,2,26,0.9) 100%);
        background: linear-gradient(135deg,  rgba(168,13,44,0.9) 0%,rgba(168,13,44,0.9) 29%,rgba(120,2,26,0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80d2c', endColorstr='#78021a',GradientType=1 );
    }

    
    .container-inner{
        z-index: 1;
    }

    .signup-inner{
        border-radius: 0 48px 48px 0;
        background-color: #29241B;
        background: #29241B;
        padding: 50px 20px 123px 40px;
        max-width: 100%;

        @media screen and (max-width: 1365px){
            padding: 50px 20px 70px 40px;
        }
        @media screen and (max-width: 767px){
            border-radius: 48px;
            padding: 50px 40px;
        }
        @media screen and (max-width: 575px){
            border-radius: 25px;
            padding: 35px 25px;
        }
        h4{
            font-size: 37px;
            color: $white-text;
            @include fb;
            margin-bottom: 10px;
            @media screen and (max-width: 1199px){font-size: 32px;}
            @media screen and (max-width: 767px){font-size: 28px;}
            @media screen and (max-width: 575px){font-size: 24px; line-height: 42px;}
        }
        .sub-title{
            font-size: 16px;
            color: $white-text;
            margin-bottom: 73px;
            @media screen and (max-width: 767px){font-size: 15px; margin-bottom: 40px;}
            @media screen and (max-width: 575px){font-size: 13px; margin-bottom: 30px;}
        }

        form{
            padding-right: 51px;
            @media screen and (max-width: 767px){
                padding-right: 0;
            }
            .form-group{
                position: relative;
                label{
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    padding: 0;
                    margin: 0;
                    @include transformY;
                    text-align: center;
                }
                .form-control{
                    padding: 5px 21px 5px 38px;
                    font-size: 12px;
                    @include fr;

                }
                .icon-right{
                    top: 50%;
                }
            }
            .custom-select-lg {
                .select-selected {
                    font-size: 12px;
                    padding: 5px 15px;
                    @include fr;
                }
                .select-items{
                    background-color: #1f1b15;
                    div{
                        font-size: 12px;
                        @include fr;
                    }
                }
            }

            .btn-submit{
                margin-bottom: 48px;
            }
        }
    }
}

.left-side-btn{
    .navbar-toggler{
        border-color: #ffffff;
        padding: 0.25rem 0.35rem;
        font-size: 1.15rem;
        .navbar-toggler-icon{
            background-image: url('../images/toggle-btn.svg');
        }
    }
}


.profile-dropdown{
    a{
        padding: 10px 10px;
        &:hover, &:active{
            background-color: #A80D2C;
            color: $white-text;
        }
    }
}











footer{
    .copyright{
        background-color: $primary-color;
        padding: 42px 15px 29px;
        @media screen and (max-width: 1365px){
            padding: 32px 15px 19px;
        }
        @media screen and (max-width: 575px){
            padding: 15px 15px 15px;
        }
        p{
            font-size: 12px;
            color: $white-text;
            margin: 0;
        }
    }
}
