@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v6mmnp');
  src:  url('../fonts/icomoon.eot?v6mmnp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v6mmnp') format('truetype'),
    url('../fonts/icomoon.woff?v6mmnp') format('woff'),
    url('../fonts/icomoon.svg?v6mmnp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-last-name:before {
  content: "\e900";
  color: #fff;
}
.icon-first-name:before {
  content: "\e901";
  color: #fff;
}
.icon-search:before {
  content: "\e902";
  color: #fff;
}
.icon-bell:before {
  content: "\e903";
  color: #fff;
}
.icon-profile-arrow:before {
  content: "\e904";
  color: #fff;
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-accordian-2-minus:before {
  content: "\e906";
  color: #a80d2c;
}
.icon-accordian-2-add:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
  color: #00baff;
}
.icon-equal .path1:before {
  content: "\e909";
  color: rgb(255, 255, 255);
}
.icon-equal .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 23, 55);
}
.icon-accordian-add:before {
  content: "\e90b";
}
.icon-accordian-minus:before {
  content: "\e90c";
}
.icon-instagram-sketched:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
  color: #3165d4;
}
.icon-google-hangouts .path1:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(251, 187, 0);
}
.icon-google-hangouts .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(81, 142, 248);
}
.icon-google-hangouts .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(40, 180, 70);
}
.icon-google-hangouts .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(241, 67, 54);
}
.icon-eye:before {
  content: "\e913";
  color: #fff;
}
.icon-lock:before {
  content: "\e914";
  color: #fff;
}
.icon-mobile:before {
  content: "\e915";
  color: #fff;
}
.icon-email:before {
  content: "\e916";
  color: #fff;
}
