// Fonts
@mixin ft{
    font-family: "Roboto-Thin";
    font-weight: normal;
    font-style: normal;
}

@mixin fl{
    font-family: "Roboto-Light";
    font-weight: normal;
    font-style: normal;
}

@mixin fr {
    font-family: "Roboto-Regular";       
    font-weight: normal;
    font-style: normal;
}

@mixin fm {
    font-family: "Roboto-Medium";
    font-weight: normal;
    font-style: normal;
}
@mixin fb {
    font-family: "Roboto-Bold";
    font-weight: normal;
    font-style: normal;
}
@mixin fblack {
    font-family: "Roboto-Black";
    font-weight: normal;
    font-style: normal;
}

/* Transform */
@mixin transformY{
    -webkit-transform: translateY(-50%);
    -moz-transform:    translateY(-50%);
    -ms-transform:     translateY(-50%);
    -o-transform:      translateY(-50%);
    transform:         translateY(-50%);
}
@mixin transformX{
    -webkit-transform: translateX(-50%);
    -moz-transform:    translateX(-50%);
    -ms-transform:     translateX(-50%);
    -o-transform:      translateX(-50%);
    transform:         translateX(-50%);
}
@mixin transformXY{
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:    translate(-50%, -50%);
    -ms-transform:     translate(-50%, -50%);
    -o-transform:      translate(-50%, -50%);
    transform:         translate(-50%, -50%);
}

@mixin transformrotate{
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    transform:         rotate(45deg);
}

@mixin transitionall{
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    transition: ease all 0.3s;
}

@mixin imgfit{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* Box shadow */
@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: rgba(0,0,0,0.16)) {
  -webkit-box-shadow: $x-axis $y-axis $blur $color;
  -moz-box-shadow: $x-axis $y-axis $blur $color;
  box-shadow: $x-axis $y-axis $blur $color;
}

@mixin box-shadow-none{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a:hover {
    text-decoration: none;
}
li {
    list-style: none;
}

p{
    line-height: 27px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Custom Select css */
.custom-select {
  position: relative;
  background: transparent;
  border: 0;
  padding: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 8px;

  select {
    display: none; /*hide original SELECT element: */
  }
  .select-selected {
    background-color: transparent;
    color: $white;
    padding: 5px 0;
    border: 0;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    font-size: 16px;
    &::after {
        position: absolute;
        content: "";
        top: 10px;
        right: 0px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    &.select-arrow-active:after {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        top: 14px;
    }
  }
  .select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100px;

    div{
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        &:hover{
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
  }
  .select-hide {
    display: none;
  }
  .same-as-selected{
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.custom-select-lg{
    height: 54px;
    @media screen and (max-width: 575px){
        height: 44px;
    }
    .select-selected{
        height: 100%;
        font-size: 16px;
        color: $white;
        line-height: 44px;
        padding: 5px 24px;
        @include fb;
        @media screen and (max-width: 991px){
            padding: 5px 15px;
        }
        @media screen and (max-width: 575px){
            font-size: 14px;
            line-height: 37px;
        }
        &::after{
            top: 21px;
            right: 17px;
            border: solid #FFFFFF;
            border-width: 0 2px 2px 0;
            padding: 3px;
            @media screen and (max-width: 575px){
                top: 18px;
            }
        }
        &.select-arrow-active{
            &::after{
                top: 24px;
                 @media screen and (max-width: 575px){
                    top: 21px;
                 }
            }
        }
    }
    .select-items{
        background-color: #701021;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
        overflow: hidden;
        div{
            /* color: $blue-text; */
            font-size: 16px;
        }
    }

    &.gray{
        .select-selected{
            background-color: #F5F5F5;
            border-radius: 20px;
            line-height: 59px;
            font-size: 16px;
            color: #495057;
            padding: 0;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

/* Custom Checkbox */
.custom-checkbox{
    padding-left: 6px;
    min-height: auto;
    label{
        font-size: 12px;
        color: $white;
        padding-left: 33px;
        &::before, &::after{
            top: -2px;
            left: 0px;
            width: 15.75px;
            height: 15.75px;
            border-radius: 2px !important;
            cursor: pointer;
            border: 0 !important;
            background-color: $white;
        }
        a{
           text-decoration: underline;
           color: $white-text;
        }
    }
    .custom-control-input{
        &:checked~.custom-control-label::after{
            background-image: url('../images/checkmark.svg');
            background-size: 10px;
        }
    }
}

/* Custom Radio */
.custom-radio{
    padding-left: 0;
    .custom-control-label{
        padding-left: 40px;
        &::before, &::after{
            width: 30px;
            height: 30px;
            top: 50%;
            left: 0;
            @include transformY;
        }
        &::before{
            background-color: transparent;
            border: solid 3px #7E8291;
        }
    }
    .custom-control-input:checked~.custom-control-label::before {
        border-color: #4E35F9;
        background-color: transparent;
    }
    .custom-control-input:checked~.custom-control-label::after {
        background-image: url('../images/radio.svg');
        background-size: 20px;
    }
}

.custom-radio-sm{
    .custom-control-label{
        &::before, &::after{
            width: 24px;
            height: 24px;
        }
        &::before{
            border-width: 2px;
        }
    }
    .custom-control-input:checked~.custom-control-label::after {
        background-size: 14px;
    }
}

/* Common Modal Css */
.commonmodal{
    .modal-dialog{
        top: 50%;
        -webkit-transform: translateY(-50%) !important;
        -moz-transform:    translateY(-50%) !important;
        -ms-transform:     translateY(-50%) !important;
        -o-transform:      translateY(-50%) !important;
        transform:         translateY(-50%) !important;

        h4{
            font-size: 28px;
            @include fb;
            &::after{
                content: '';
                width: 65px;
                height: 4px;
                /* background-color: $blue-color; */
                display: block;
                margin: 13px auto 0;
            }
        }
        img{
            width: auto;
            height: auto;
            -ms-flex-item-align: center;
            align-self: center;
        }
        p{
            font-size: 16px;
            color: #495057;
            margin-bottom: 10px;
            line-height: 24px;
        }

        .closebtn{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #4E35F9;
            font-size: 20px;
            color: #fff;
            position: absolute;
            right: -15px;
            top: -15px;
            border: 0;
            line-height: 23px;
        }
    }
    .modal-content{
        border-radius: 20px;
    }
}


/* Custom Toggle Switch */
.custom-switch{
    .custom-control-label{
        &::before{
            left: 0;
            top: 0;
            width: 50px;
            height: 33px;
            border-radius: 20px;
            position: relative;
        }
        &::after{
            top: 50%;
            left: 5px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            @include transformY;
        }
    }
    .custom-control-input:checked~.custom-control-label::after{
        -webkit-transform: translate(1.15rem, -50%);
        transform: translate(1.15rem, -50%);
    }
    .custom-control-input:checked~.custom-control-label::before{
        border-color: #4E35F9;
        background-color: #4E35F9;
    }
}

/* Common input */
.common-form-group{
    .form-control{
        height: 70px;
        background-color: $white;
        border-radius: 20px;
        font-size: 16px;
        color: #ADB5BD;
        padding: 5px 30px;
        border: solid 1px transparent;
        &::-webkit-input-placeholder { color: #ADB5BD; opacity: 1; }
        &::-moz-placeholder { color: #ADB5BD; opacity: 1; }
        &:-ms-input-placeholder { color: #ADB5BD; opacity: 1; }
        &:-moz-placeholder { color: #ADB5BD; opacity: 1; } 

        &:focus{
            /* border-color: $blue-color; */
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
}

.icon-instagram-sketched{
    background: #ffd600;
    background: -moz-linear-gradient(45deg, #ffd600 0%, #ff0100 50%, #d800b9 100%);
    background: -webkit-linear-gradient(45deg, #ffd600 0%, #ff0100 50%, #d800b9 100%);
    background: linear-gradient(45deg, #ffd600 0%, #ff0100 50%, #d800b9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd600', endColorstr='#d800b9',GradientType=1 );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}