    .drag_div  {
      width: 100%;
      height: 100%;
      padding: 10px;
      border: 1px solid #aaaaaa;
    }
    /*  canvas{border:1px solid red;}*/
    #exportedImgs{border:1px solid green; padding:15px; width:300px; height:70px;}
    #toolbar{
        width:350px;
        height:35px;
        border:solid 1px blue;
    }
    .bords_page .structural-col .structural-details-col .item .board_box img {
        width:50px !important;
        height:50px !important;
    }
    #container {
        background-color: rgba(0, 0, 0, 0.1);
        border:1px solid #000;
        min-height: 500px;
    }
    .overlay{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1000;
    }
    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;


    }
    .b_form {
        display: flex !important;
        align-items: center;
        /*justify-content: center;*/
        /*margin-top: 20px;*/
        margin-left: 0px;
    }
   
    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;

      transform: translate(-50%, -50%);
      z-index: 1001;}

      /* Add styles to the form container */
      .form-container {
       max-width: 330px;
       padding: 15px;
       margin-right: 20px;
       /*border-radius: 10px;*/
       background-color: white;
       display: flex;
       justify-content: space-between;
    }
    form.form-container .form-group {
        margin: 0 5px 0 ;
    }

    .form-popup  h5{
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
    }

    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
      width: 100%;
      padding: 10px;
      margin: 5px 0 0px 0;
      border: none;
      background: #f1f1f1;
      font-size: 12px;
    }

    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color: #04AA6D;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: #a80d2c;
      padding: 12px 20px;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
    /*.board_page{
        position: relative;
        z-index: 5;
        }*/
        #palette {
         width: 100% !important;
         box-shadow: 0 4px 10px rgb(120 120 119 / 15%);
         background: white;
         height: 750px;
     }
     #myDiagramDiv {
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 4px 10px rgb(120 120 119 / 15%);
        box-shadow: 0 4px 10px rgb(120 120 119 / 15%);
    }
    .b_left {
        position: relative;
    }
    span.d {
        position: relative;
        background: white;
        width: 95%;
        height: 70px;
        display: block;
        z-index: 4;
        position: absolute;
        margin: 1px;
    }
    .b_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .b_btn .btn{
        margin: 0 15px 0 0;
    }
    .b_btn .btn1 {
        background: #a80d2c !important;
        color: white !important;

    }
    .b_btn .btn2 {
        background: transparent !important;
        color: #a80d2c !important;

    }
    .inspector{
        margin-left: 30px;
        background-color: white !important;
        box-shadow: 0 4px 10px rgb(120 120 119 / 15%);
        margin-top: 15px;
    }
    .inspector input, select {
        background-color: white !important;
        color: black !important;
        font: bold 12px helvetica, sans-serif;
        border: 0px;
        padding: 2px;
        border: solid 1px #ddd !important;
        padding: 10px !important;
        border-radius: 5px;
    }
    .inspector  select {
        width: 100%;
    }
    .inspector td, th {
        padding: 2px;
        color: #a80d2c;
        padding: 7px !important;
    }
    span.d.d2 {
        width: 180px;
    }

     @media only screen and (max-width: 767px) {
        .b_form {
            margin-left: 0;
        }
        #myDiagramDiv{
            margin-top: 20px;
        }
    }